<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    RewriteRule ^(css|js|img|fonts)/(.*)$ public/assets/$1/$2 [L]

    RewriteRule ^(.*)$ index.php?route=$1 [L,QSA]
</IfModule>
